{
  "presets": [
    "es2015",
    "stage-1",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        // enables es7
        "transform-decorators-legacy",
        "react-hot-loader/babel"
        // Enables React code to work with HMR.
      ],
      "presets": ["react-hmre"]
    },
    "production": {
      "plugins": [
      // enables es7
        "transform-decorators-legacy",
      ]
    }
  }
}
